<div class="container">
    <h1 class="header">Tic Tac Toe Game</h1>
    <h1 class="info-text">Your symbol: {{ getThisUsersTurn() }}</h1>

    <app-board></app-board>

    @if (this.isGameWinned()) {
        <h1 class="info-text">Winner: {{ this.getWinner() }}</h1>
    }

    @if (this.isGameTied()) {
        <h1 class="info-text">Tie</h1>
    }
    
    @if (this.getGameState()) {
        <h1 class="info-text">Turn: {{ this.getTurn() }}</h1>
    }

    @if (!this.getGameState()) {
        <button type="button" class="go-back-button" (click)="goBackToLobby()">Go back to lobby</button>
    }
</div>